body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;background-image: url(../img/yalamber-subba-rkAyh3MlAMA-unsplash.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    
}

header {
    padding: 20px;
    position: relative;
}

header img {
    height: 130px;
    position: absolute;
    left: 60px;
}

header h1 {
    font-size: 2em;
    margin: 0;
    padding: 20px;
    position: relative;
    top: 60px;
    left: 180px;
}

.botton{
    color: rgb(66, 66, 66);
}


/* **************** */

.content {
    padding: 10px;
    margin: auto;
    max-width: 1200px;
    position: relative;
    left: 5%;
    right: 5%;
}

.gallery {
    position: relative;
    height: 1200px; 
    align-items: center;
}

.gallery-item {
    width: 18%;
    padding: 50px;
   /*  box-sizing: content-box; */
    position: absolute;
    text-align: center;
    
}

.g1 {
    top: 0;
    left: 0;
}

.g2 {
    top: 0;
    left: 33.33%;
}

.g3 {
    top: 0;
    left: 66.66%;
}

.g4 {
    top: 33.33%;
    left: 0;
}

.g5 {
    top: 33.33%;
    left: 33.33%;
}

.g6 {
    top: 33.33%;
    left: 66.66%;
}

.g7 {
    top: 66.66%;
    left: 0;
}

.g8 {
    top: 66.66%;
    left: 33.33%;
}

.g9 {
    top: 66.66%;
    left: 66.66%;
}

.gallery-item img {
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.caption {
    margin-top: 5px;
}

footer {
    text-align: center;
    padding: 50px;
    width: 100%;
}



/* *****************TWO******************* */
.contentt {
    padding: 10px;
    margin: 3% auto;
    max-width: 1200px;
    position: relative;
}

.caption-two {
    font-size: 2em;
    margin: 20px;
}

.img2 {
    width: 15%;
    height: 35%;
    /* float: right; */
    position: relative;
    left: 83%;
    border-radius: 10px;
}

.para1 {
    text-align: justify;
    width: 75%;
    position: relative;
    top: -19rem;
}

.img2lan{
    width: 30%;
    height: 10%;
    position: relative;
    left: 70%;
    border-radius: 10px;
}


.para1lan{
    text-align: justify;
    width: 65%;
    position: relative;
    top: -16rem;
}

.para1lann{
    text-align: justify;
    width: 65%;
    position: relative;
    top: -12rem;
}

hr{
    margin: 10px;
}

.link {
    margin-left: 90%;
    margin-top: -13%;
}
